<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="outTheDoorApp" ng-strict-di>

  <header></header>

  <div class="container" ng-controller="TimeController">
    <section class="card time">
      <div class="card-title">
        {{date | date:'HH:mm:ss'}}
      </div>
      <div class="card-content">
        {{date | date:'fullDate'}}
      </div>
    </section>
  </div>

  <div class="container" ng-controller="TransitController">
    <section class="transit-route card" ng-repeat="route in transit">
      <div class="card-title">
        <h2>{{route._stopTitle}}</h2>
      </div>
      <div class="card-content">
        <ul class="transit-prediction">
          <li ng-repeat="prediction in route.predictions | limitTo : 4">
            <span transit-prediction></span>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <div class="container" ng-controller="WeatherController">
    <section class="weather card">
      <div class="card-title">
        <h2>Weather in Toronto</h2>
      </div>
      <div class="card-content">
        <div class="temp">
          {{weatherTemp}}&deg;
        </div>
        <i class="icon wi" ng-class="weatherIcon"></i>
        <div class="description">
          {{weatherDescription}}
        </div>
      </div>
    </section>
  </div>

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/x2js/xml2json.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</body>
</html>
